<main id="logIn">
  <section class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-md-5 col-xs-12 d-flex align-items-center" id="infoPanel">
        <div>
          <a href="" ui-sref="landingPage"> <img src="../../sources/img/chevron-left.svg" height="30px" width="30px" alt="">Regresar a la pagina principal</a>
          <h1>Empezá la aventura con Bungalow! </h1>
          <a href="" ui-sref="userRegistration" class="btn btn-lg btnAction my-2 my-sm-0">Registrarse</a>
        </div>
      </div>
      <div class="col-md-7 col-xs-12 logInForm">
        <div class="justify-content-center">
          <img src="../../sources/img/bungalowlogo.svg" alt="" class="mb-3" width="200px" height="80px">
          <h2>Iniciar Sesión</h2>
          <form ng-submit="vm.login(vm.newSession)" class=""">
            <div class="form-group">
              <label for="inputEmail">Cuenta de Correo</label>
              <input type="text" class="form-control" id="inputEmail" ng-model="vm.newSession.email" required>
            </div>
            <div class="form-group">
              <label for="inputContrasenna">Contraseña</label>

              <div class="input-group mb-3">
                <input type="{{vm.type}}" class="form-control" id="inputContrasenna" ng-model="vm.newSession.password" required>
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" ng-model="vm.input" ng-change="vm.changeType(vm.input)">
                  </div>
                </div>
                
              </div>
            </div>
            <button type="submit" class="btn btnAction">Iniciar Sesion</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>