<aside class="bg-dark sidenav">
    <ul class="nav flex-column">
      <li class="nav-item dropright">
        <a class="nav-link text-white dropdown-toggle py-5 mt-4" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="d-inline">
            <i class="fas fa-building"></i>
          </div>
          <p class="d-inline">Hoteles</p>
        </a>
  
        <div class="dropdown-menu">
          <a class="dropdown-item" ui-sref="main.userRegistration">Editar Hoteles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" ui-sref="main.hotelRegistration">Registrar Hoteles</a>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link text-white py-5" ui-sref="main.profileUser" href="">
          <div class="d-inline">
            <i class="fas fa-user"></i>
          </div>
          <p class="d-inline">Mi perfil</p>
        </a>
      </li>
    </ul>
  </aside>