<aside class="bg-dark">



  <ul class="nav flex-column">
    <li class="nav-item" ng-show="vm.userRole == 1">
      <a class="nav-link text-white py-5" ui-sref="main.hotelRegistration" href="">
        <div class="d-inline">
          <i class="fas fa-danger"></i>
        </div>
        <p class="d-inline">Registrar Hoteles</p>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white py-5" ui-sref="main.hotelsList" href="">
        <div class="d-inline">
          <i class="fas fa-building"></i>
        </div>
        <p class="d-inline">Lista de hoteles</p>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-white py-5" ui-sref="main.profileUser" href="">
        <div class="d-inline">
          <i class="fas fa-user"></i>
        </div>
        <p class="d-inline">Mi perfil</p>
      </a>
    </li>
  </ul>
</aside>