#headerPrincipal{
  .brandNav {
    background-color: #221D1D;
  }
  .brandLinks {
    color: #fff !important;
  }
  .brandLinks:hover {
    color: #A5C157 !important;
  }
  .navbar-toggler-icon.icon-bar {
    background-color: #fff !important;
    color: #fff !important;
  }
}