#logIn{
  #infoPanel {
    background-image: url("./img/leaves.jpg");
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: left center;
    margin: 0;
    color: #fff;
    padding: 50px;
    a{
      color: #fff;
      text-decoration: none;
    }
  }
  #btnLogin {
    border-radius: 0;
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.8em;
    font-family: 'Roboto';
    &:hover{
      border: 1px solid #A5C157;
      background-color: #A5C157;
      color: #fff;
    }
  }

  .logInForm{
    padding: 100px;
    font-family: 'Roboto';
  }

  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}