<header id="headerPrincipal">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top d-flex brandNav">
    <a href="#">
      <img src="../../../sources/img/bungalowlogo.svg" alt="" width="150" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navPrincipal" aria-controls="navPrincipal"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navPrincipal">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link myNavLinks" href="/#!/#aboutBungalow">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link myNavLinks" href="/#!/#services">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link myNavLinks" href="/#!/#hotels">Hoteles</a>
        </li>
      </ul>
      <form class="form-inline my-2">
        <a href="" ui-sref="logIn" id="btnLogin" class="btn btn-lg my-2">Iniciar Sesión</a>
      </form>
    </div>
  </nav>
</header>